<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="NuLuS.Api.Channel" value="DnsEnum" />
    <!--Please contact Mitto AG (https://www.mitto.ch/) for real addresses and user account-->
    <add key="NuLuS.Dns.Api.Address" value="127.0.0.1" />
    <add key="NuLuS.Http.Rest.Api.Url" value="http://localhost:8082/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
